<p>reactive-form works!</p>

<div>
    <h2>Login</h2>
    <form [formGroup]="loginForm">
      <label>Email:</label>
      <input formControlName="email" type="email">
      <br>
      <label>Password:</label>
      <input formControlName="password" type="password">
      <br>
      <button type="submit" [disabled]="!loginForm.valid" (click)="onLoginSubmit()">Login</button>
    </form>
    
    <h2>Demographic</h2>
    <form [formGroup]="demographicForm">
      <label>First Name:</label>
      <input formControlName="firstName" type="text">
      <br>
      <label>Last Name:</label>
      <input formControlName="lastName" type="text">
      <br>
      <label>Birth Date:</label>
      <input formControlName="birthDate" type="date">
      <br>
      <label>ID card:</label>
      <input formControlName="idcard" type="string" >
      <br>
      <button type="submit" [disabled]="!demographicForm.valid" (click)="onDemographicSubmit()">Submit</button>
    </form>
  </div>
